@charset "utf-8";

.box1{
  width:200px;
  height:200px;
  border:10px solid black;
  background:yellow;
  display:flex;
  justify-content: center;
  align-items: center;
  /* 애니메이션이 시작하는 지점에 지정해야 마우스를 뗐을 떄도 애니메이션 작동*/
  transition-property: transform, border-radius, background; /* 선택한 속성의 중간과정 보여주기 */
  transition-duration: 2000ms, 2000ms,2000ms; /* 애니메이션 시간*/
  transition-delay: 0s, 2s, 4s; /* 애니메이션 순차적으로 실행 */
  transition-timing-function: ease-in-out; /* https://www.the-art-of-web.com/css/timing-function/ */
}

.box1:hover{
  border-radius:50%;
  transform: rotate(360deg);
  background:pink;
}